@font-face {
    font-family: rocksalt;
    src: url(fonts/RockSalt.ttf);
}

body {
  position: relative;
  background-color: #272727;
  /*padding-bottom: 60px;*/
}

a, a:visited, a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

header {
  width: 100%;
}

/*nav {
  position: absolute;
  right: 40px;
  top: 140px;
}*/

nav ul {
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  padding: 10px 10px;
  display: inline-block;
  margin: 5px 2px;
  background: #e1465f;
}

nav a, nav a:visited {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #272727;
}

.grid-container {
  display: grid;
  grid-template-columns: [col1-start] 1fr [col1-end col2-start] auto [col2-end col3-start] 1fr [col3-end];
  grid-template-rows: [row1-start header-start] 110px [row1-end header-end row2-start] auto [row2-end row3-start] auto [row3-end row4-start] auto [row4-end row5-start] auto [row5-end row6-start] auto;
}

header {
  /*background: yellow;*/
  grid-area: header;
  grid-column: col1-start / col3-end;
  grid-row: header-start / header-end;
  text-align: center;
}

header .title-container {
  height: 100%;
  margin: 25px 10px;
}

.phases {
  /*background: red;*/
  grid-area: content;
  grid-column: col2-start / col2-end;
  grid-row: row2-start / row4-end;
}

.phase-row2 .phase-item img {
  max-width: 190px;
}

nav {
  /*background: blue;*/
  grid-column: col1-start / col3-end;
  grid-row: row5-start / row5-end;
}

footer {
  /*background: blue;*/
  grid-column: col1-start / col3-end;
  grid-row: row6-start / end;
  text-align: center;
  font-size: 8px;
  color: white;
}

#nav-icon {
  width: 30px;
  position: relative;
  z-index: 1501;
  display: inline-block;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e1445e;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.open span {
  background: #fff;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.title-container {
  font-family: 'rocksalt';
  display: inline-block;
  max-width: 1200px;
  height: 100%;
}

.site-title, .site-title a {
  font-size: 26px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #fff;
  cursor: default;
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

.page-title h2 {
  font-family: monospace;
  font-weight: 300;
  color: #fff;
}

.page-title.screenplays-title h2 {
  font-size: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.red-underline {
  text-decoration: underline;
  color: #e1445e;
}

body nav.top-nav.open {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    height: 100%;
}

body nav.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  height: 0;
  color: #fff;
  padding-top: 0px;
  background: none;
  z-index: 1000;
  overflow: hidden;
  backface-visibility: hidden;
  -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

body nav.top-nav .nav-background {
    z-index: 1500;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: none;
    display: table;
    background: rgba(225, 68, 94, 0.92);
    -moz-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

body nav.top-nav.open ul {
  top: 0;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  -moz-transform: perspective(600px) rotateX(0deg);
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
}

body nav.top-nav ul {
  visibility: hidden;
  top: -10%;
  width: 100%;
  padding: 0;
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
  -moz-transform: perspective(600px) rotateX(10deg);
  -webkit-transform: perspective(600px) rotateX(10deg);
  transform: perspective(600px) rotateX(10deg);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

nav.top-nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 35px;
}

nav.top-nav ul li a {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 23px;
  font-family: "open sans";
  vertical-align: super;
  text-transform: none;
}

.brand-container {
  font-family: 'rocksalt';
  height: 100%;
  font-size: 12px;
  display: inline-block;
  float: right;
  padding-right: 17px;
}

.brand-list {
  padding: 0;
  margin-top: 23px;
}

.brand-item {
  list-style: none;
  display: inline-block;
  width: 150px;
  text-align: center;
  vertical-align: middle;
}

.phases {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.phase-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 20px;
  text-align: center;
  max-width: 50%;
}

.phase-item img {
  max-width: 100%;
}

.screenplays {
  display: flex;
  flex-wrap: wrap;
}

.screenplays-item {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  border-bottom: 2px solid #4a4a4a;
}

.screenplays-item h4 {
  color: #e1445e;
  font-size: 30px;
  letter-spacing: 5px;
  border-bottom: 2px solid #e1445e;
  max-width: 290px;
  text-align: center;
  margin: 10px auto 20px;
}

.screenplays-item h5 {
  color: #fff;
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
}

.screenplays-item p {
  color: #fff;
}

.screenplays-item p {
  text-align: left;
  margin: 0 15px;
  font-style: italic;
}

.more.button {
  padding: 20px 0 30px;
}

.more.button a {
  color: white;
  background: #e1445e;
  padding: 10px 18px;
  border-radius: 8px;
  margin: 0;
  font-size: 18px;
}

@media (min-width: 768px) {


  .site-title, .site-title a {
    font-size: 30px;
    padding: 22px;
  }

  .top-bar {
    text-align: center;
  }

  .screenplays {
    justify-content: space-around;
  }

  .screenplays-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-width: 330px;
    border: none;
  }

  .more.button {
    align-self: flex-end;
    padding: 10px 0 20px;
  }

  .more.button a {
    display: block;
  }

  nav a, nav a:visited {
    font-size: 18px;
  }

}

@media (min-width: 1024px) {

  .site-title a {
    font-size: 45px;
  }

  .phase-item {
    max-width: 32%;
  }

  .page-title.screenplays-title h2 {
    font-size: 40px;
  }

  .screenplays {
    max-width: 1190px;
    margin: 0 auto;
  }

  .screenplays-item {
    align-items: center;
    border-bottom: 0;
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1120px [col2-end col3-start] 1fr [col3-end];
  }

  .phase-item {
    max-width: 24%;
  }

  nav {
    grid-column: col3-start / col3-end;
    grid-row: row2-start / last;
  }

  nav ul {
    text-align: left;
  }

  nav ul li {
    background: transparent;
    border: none;
  }

  nav a:hover {
    color: #e1465f;
  }
}